parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Tapp\\FilamentMailLog\\Models\\MailLog\:\:\$message_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Events/MailLogEventHandler.php
