parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Tapp\\FilamentMailLog\\Models\\MailLog\:\:\$message_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Events/MailLogEventHandler.php

		-
			message: '#^Call to method resources\(\) on an unknown class Filament\\Panel\.$#'
			identifier: class.notFound
			count: 1
			path: src/FilamentMailLogPlugin.php

		-
			message: '#^Parameter \$panel of method Tapp\\FilamentMailLog\\FilamentMailLogPlugin\:\:boot\(\) has invalid type Filament\\Panel\.$#'
			identifier: class.notFound
			count: 1
			path: src/FilamentMailLogPlugin.php

		-
			message: '#^Parameter \$panel of method Tapp\\FilamentMailLog\\FilamentMailLogPlugin\:\:register\(\) has invalid type Filament\\Panel\.$#'
			identifier: class.notFound
			count: 1
			path: src/FilamentMailLogPlugin.php

		-
			message: '#^Call to an undefined static method Tapp\\FilamentMailLog\\Resources\\MailLogResource\\Pages\\ListMailLogs\:\:route\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to method defaultSort\(\) on an unknown class Filament\\Tables\\Table\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to method getCharacterLimit\(\) on an unknown class Filament\\Tables\\Columns\\TextColumn\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to method getState\(\) on an unknown class Filament\\Tables\\Columns\\TextColumn\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to method schema\(\) on an unknown class Filament\\Infolists\\Infolist\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Forms\\Components\\DatePicker\.$#'
			identifier: class.notFound
			count: 2
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Infolists\\Components\\Section\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Infolists\\Components\\TextEntry\.$#'
			identifier: class.notFound
			count: 16
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Tables\\Actions\\ViewAction\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Tables\\Columns\\TextColumn\.$#'
			identifier: class.notFound
			count: 6
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Tables\\Filters\\Filter\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Tables\\Filters\\SelectFilter\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Method Tapp\\FilamentMailLog\\Resources\\MailLogResource\:\:infolist\(\) has invalid return type Filament\\Infolists\\Infolist\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Method Tapp\\FilamentMailLog\\Resources\\MailLogResource\:\:table\(\) has invalid return type Filament\\Tables\\Table\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Parameter \$column of anonymous function has invalid type Filament\\Tables\\Columns\\TextColumn\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Parameter \$infolist of method Tapp\\FilamentMailLog\\Resources\\MailLogResource\:\:infolist\(\) has invalid type Filament\\Infolists\\Infolist\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php

		-
			message: '#^Parameter \$table of method Tapp\\FilamentMailLog\\Resources\\MailLogResource\:\:table\(\) has invalid type Filament\\Tables\\Table\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/MailLogResource.php
